@model IEnumerable<Vin_de_la_france_2.Models.ArticlesClass>

@{
    ViewData["Title"] = "Catalogue";
}

<h1 id="catalogue-title">Catalogue</h1>

<div class="form-group">
    <label for="searchName">Rechercher par nom</label>
    <input type="text" name="searchName" id="searchName" class="form-control" placeholder="Nom de l'article" />
</div>

<div class="form-group">
    <label for="familleId">Filtrer par famille</label>
    <select name="familleId" id="familleId" class="form-control">
        <option value="">Toutes les familles</option>
        @foreach (var famille in ViewBag.FamillesList)
        {
            <option value="@famille.Value">@famille.Text</option>
        }
    </select>
</div>

<div class="form-group">
    <label for="minPrice">Prix minimum</label>
    <input type="number" id="minPrice" name="minPrice" class="form-control" step="10" placeholder="Prix minimum" />
</div>

<div class="form-group">
    <label for="maxPrice">Prix maximum</label>
    <input type="number" id="maxPrice" name="maxPrice" class="form-control" step="10" placeholder="Prix maximum" />
</div>

<div id="articleContainer">
    @await Html.PartialAsync("_ArticleCards", Model)
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function updateArticles() {
                var searchName = $('#searchName').val();
                var familleId = $('#familleId').val();
                var minPrice = $('#minPrice').val();
                var maxPrice = $('#maxPrice').val();

                $.ajax({
                    url: '@Url.Action("FilterArticles", "ArticlesClasses")',
                    type: 'GET',
                    data: {
                        searchName: searchName,
                        familleId: familleId,
                        minPrice: minPrice,
                        maxPrice: maxPrice
                    },
                    success: function (result) {
                        $('#articleContainer').html(result);
                    }
                });
            }

            $('#searchName').on('input', function () {
                updateArticles();
            });

            $('#familleId').on('change', function () {
                updateArticles();
            });

            $('#minPrice, #maxPrice').on('input', function () {
                updateArticles();
            });
        });
    </script>
}
