

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #fefefe;
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espace entre les cartes */
    justify-content: flex-start; /* Aligne les cartes à gauche */
    max-width: 1200px; /* Limite la largeur maximale du conteneur */
    margin: 0 auto; /* Centre le conteneur dans la page */
    height: 100%;
    margin-bottom: 100px;
}

.card {
    width: 18rem;
    margin-bottom: 1rem;
    padding: 10px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background: #FFFFFF;
    background: #1E1E2409;
    border:1px solid #1E1E2419;
}

    .card:hover {
        transition: all 0.15s ease-in-out;
        box-shadow: 0px 0px 3px 0px #ccc;
        transform: scale(1.05); /* Légère augmentation de la taille pour l'effet de focus */
    }




.card-img-top {
    width: 150px;
    height: auto;
    margin: 0 auto;
    transition: transform 0.3s ease; /* Ajout d'une animation sur l'image */
}

.card:hover .card-img-top {
    transform: scale(1.1); /* L'image augmente légèrement au survol */
}

.card-body {
    flex-grow: 1; /* Permet à la partie texte de prendre l'espace restant */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Positionne le contenu correctement */
    margin-bottom:10px;
}

.card-text {
    margin-bottom: auto; /* Pour que le texte reste en haut et prenne l'espace */
    background-color: #fefefe;
    padding: 5px 10px;
    border-radius: 10px;
    min-height:130px;
}
.card-foo {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: auto; /* Force le bouton à être en bas de la carte */
    padding:0 10px;
}

.card-body .btn {
    margin-left:auto;
    width:100%;
}


.price {
    background-color: #fefefe;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

    .price:hover {
        transition: all 0.15s ease-in-out;
        box-shadow: -1px 1px 1px 0px #ccc;
    }

.card-title {
    text-align:center;
    font-weight: 700;

}

.stretched-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-decoration: none;
    color: inherit;
}

#catalogue-title {
    position: relative;
    margin: 20px 0;
    padding: 5px;
    background-color: #f7f7f7cc;
    border: 1px solid #f9f9f9;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    cursor:default;
}

.navbar-brand {
    color: #fff !important;
    font-weight:700;
}

.nav-link {
    color: #fff !important; 
}

.cart-btn {
    width: 100px;
    margin-left: 20px;
    background-color: #f7f7f7cc;
    box-shadow: none !important;
    border:none !important;
}

    .cart-btn:hover {
        background-color: #f7f7f7aa !important;
    }

    .cart-btn:focus {
        background-color: #f7f7f7aa !important;
        border:none !important;
        box-shadow:none !important;
    }

#cart-icon {
    width:20px;
    height:20px;
    font-weight:700;
    fill:#000 !important;
}



#details-title {
    position: relative;
    margin: 20px 0;
    padding: 5px;
    background-color: #f7f7f7cc;
    border: 1px solid #f9f9f9;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    cursor: default;
}

.back-btn {
    margin:20px auto;
}


.product-header {
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre l'image et le texte */
    margin-bottom: 20px;
}

.product-img {
    width: 50px;
    height: auto;
    border-radius: 8px; /* Optionnel : pour arrondir les coins de l'image */
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
